export KUBECONFIG="${PWD}/.kube/config"
export MINIKUBE_HOME="${PWD}/.minikube"
export MINIKUBE_DRIVER=hyperkit

export VAULT_ADDR='http://127.0.0.1:8200'
export VALUT_UNSEAL_KEY='CWBk3+yQNbX9wmuLLh4IyPzUwT9wmzz4Mt5xbSz1Nn4='
export VAULT_TOKEN="s.ZJnn7B5Q2T9ZMiShPLXN6q44"